<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>El Posta del Bloggo</h1>
</div>

<%= link_to '<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> New Post'.html_safe, new_post_path, class:'btn btn-primary btn-lg' %>


<table class="table">
  <thead>
    <tr>
      
      <th><h2>Title</h2></th>
      <th><h2>Body</h2></th>
      <th colspan="3"></th>

    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <h4>
            <%= link_to post.title.downcase, post %>
          </h4>
          
          <h5><small>
            <%= post.created_at.to_date %>
          </small></h5>
  
        </td>
        <td><h4><small><%= post.body.truncate(200) %></small></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

