<p id="notice"><%= notice %></p>

<div class="container">
<h1>
  <%= @post.title.downcase %>
</h1>

<h4>
	<small>
 		<%= @post.created_at.to_date %>
	</small>
</h4>

<br>


<h2>
	<small>
	<%= @post.body %>
</small>
</h2>


</div>

<br>
<br>
<br>


<%= link_to '<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back'.html_safe, posts_path, class:'btn btn-primary' %> |
<%= link_to '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit'.html_safe, edit_post_path(@post), class:'btn btn-warning' %> |
<%= link_to '<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove'.html_safe, @post, method: :delete, data: { confirm: 'Are you sure?' } , class:'btn btn-danger'%>
